#Log
log_folder=log/

#Sensor
source=0#test.avi#test.avi # hiki camera or video file path
port=/dev/ttyACM0 # None(use MockDriver for testing) or port path like /dev/ttyACM0
imu=UART # Enter UART or BMI,(only UART supported now)
flip=0 # 1 to flip input image

#Detect
# model=asset/models/SKD250526.axmodel
model=asset/models/SKD250526.onnx

#Predict
camera_para=asset/camParam/cam_param_hik1_.yml
planner_para=asset/plannerParam/planner_param_sentry.yml

#Display
timed_serial_log_text=false
timed_serial_log_file=false
timed_serial_show_image=false

entrystage_log_text=false
entrystage_log_file=false
entrystage_show_image=false

sensor_log_text=false
sensor_log_file=false
sensor_show_image=false 

preprocess_log_text=true
preprocess_log_file=true
preprocess_show_image=true

detect_log_text=true
detect_log_file=true
detect_show_image=true

corner_refine_log_text=true
corner_refine_log_file=false
corner_refine_show_image=true

predictor_log_text=true
predictor_log_file=false
predictor_show_image=true

planner_log_text=false
planner_log_file=false
planner_show_image=true

foxglove_server_log_text=false
foxglove_server_log_file=false
foxglove_server_show_image=false

planner_plot=false

corner_refine_adjust_threshold=false
predictor_adjust_mode=false
predictor_adjust_tracker_noise=false
transformer_adjust_armor_size=false
